@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/*フォントの定義*/
.header-title {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  color: #707070;
}

h1 {
  font-family: "M+ 1m";
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.contents-deco {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.contents-deco::after {
  display: block;
  content: "";
  width: 50px;
  height: 0px;
  border-top: solid 1px #fff;
  margin-top: 0.6em;
}

.header-search__btn {
  border: 1px solid #707070;
  border-radius: 10px;
  width: 136px;
  height: 20px;
}

.contents-childbox__takeout {
  margin: auto;
  background-image: url(../img/takeout.png);
  background-position: center;
  background-size: cover;
}

.contents-childbox__eatin {
  margin: auto;
  background-image: url(../img/eatin.png);
  background-position: center;
  background-size: cover;
}

.header-search__text {
  display: inline-block; /* なくても大丈夫だけど、念の為 */
  position: relative; /* 基準値とする */
}
.header-search__text::before {
  content: ""; /* 疑似要素に必須 */
  width: 16px; /* アイコンの横幅 */
  height: 16px; /* アイコンの高さ */
  background: url(../img/magnifying-glass-solid.svg) no-repeat center center/auto 100%; /* 背景にアイコン画像を配置 */
  display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute; /* 相対位置に指定 */
  top: 2px; /* アイコンの位置。微調整してね */
  left: 5px; /* アイコンの位置。微調整してね */
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 20%;
  grid-gap: 10px;
  /*
  & > * {
    background-color: orangered;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
  }
  */
}
.container .header {
  grid-column: 1/3;
}
.container .hero {
  grid-column: 1/span 2;
}
.container .contents {
  grid-column: 1/span 2;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
.container .contents .contents-childbox {
  width: 625px;
  height: 750px;
  border: 0.3rem solid;
}
.container .map {
  grid-column: 1/span 2;
}
.container .sidebar {
  grid-column: 3/4;
  grid-row: 1/span 4;
}
.container .footer {
  grid-column: 1/-1;
}

/* headerの設定 */
.header {
  height: 200px;
  background-color: #FFF7EF;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: min(92%, 1166px);
  margin: auto;
}

.l-hero {
  height: 350px;
  background-image: url(../img/top_image.png);
  background-position: center;
  background-size: cover;
}
.l-hero h1 {
  margin-left: 80px;
  padding-top: 120px;
}

/* Google Mapを囲う要素 */
.map {
  /*
      padding-top: 75%; /* 比率を4:3に固定
  */
  width: 100%;
  height: 350px;
  background-image: url(../img/shop_map.png);
  background-position: center;
  background-size: cover;
  background-color: rgb(7, 7, 7);
  background-blend-mode: lighten;
}

/* Google Mapのiframe */
/*
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
  *//*# sourceMappingURL=main.css.map */