@charset "UTF-8";
/*--背景--*/
/*--フォント--*/
/*-- mixinフォルダの中の_index.scss --*/ /*Name*/
/*SIZE*/
/*-- settingフォルダの中の_index.scss --*/ /*-- globalフォルダの中の_index.scss --*/
/*-----------------------------------
    button-common
-----------------------------------*/
.c-btn {
  display: inline-block;
  background-color: #f2ede9;
  color: #3c2a10;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.c-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.c-btn__search {
  background-color: #f2ede9;
  border: 1px solid #707070;
  width: 150px;
  height: 50px;
  margin-left: 2rem;
}

/*
display: inline-block;
padding: 3px 20px;
color: $color-base;
background-color: $color-accent;
border: solid 2px $color-accent;
border-radius: 50px;
font-weight: bold;
text-decoration: none;
&:hover {
    color: $color-accent;
    background-color: $color-base;
}
*/
/*フォントの定義*/
.header-title {
  font-family: "Roboto";
  font-weight: 800;
  font-size: clamp(64px, 5vw, 84px);
  color: #707070;
}

.nav-title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: clamp(23px, 5vw, 34px);
  color: #707070;
}

.hero-title {
  font-family: "mplus-1m-bold";
  font-weight: 400;
  font-size: clamp(24px, 5vw, 36px);
  color: #fff;
}

.contents-title {
  font-family: "mplus-1m-bold";
  font-weight: 700;
  font-size: clamp(40px, 5vw, 80px);
  color: #fff;
  padding-top: 1em;
}
.contents-title::after {
  display: block;
  content: "";
  width: 60px;
  height: 10px;
  border-top: solid 3px #fff;
  margin-top: 0.5em;
}
.contents-title__left {
  opacity: 0.8;
}

.location-title {
  font-family: "mplus-1m-bold";
  font-weight: 700;
  font-size: clamp(30px, 5vw, 36px);
  color: #fff;
}
.location-title::after {
  display: block;
  content: "";
  width: 60px;
  height: 10px;
  border-top: solid 3px #fff;
  margin-top: 1em;
}

.sidebar-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: clamp(23px, 5vw, 34px);
  color: #707070;
}

.sidebar-item {
  font-family: "Roboto";
  font-weight: bold;
  font-size: clamp(24px, 5vw, 24px);
  color: #707070;
}
.sidebar-item__details {
  font-family: "Roboto";
  font-weight: 300;
  font-size: clamp(16px, 5vw, 18px);
  color: #707070;
}

.c-card {
  display: block;
  margin-top: auto;
  margin-bottom: 2em;
  background-color: #fff;
  opacity: 0.7;
}
.c-card dt {
  font-family: "mplus-1m-regular";
  font-weight: 700;
  font-size: clamp(12px, 2vw, 24px);
  color: #3c2a10;
  margin: 1em 1em;
}
.c-card dd {
  font-family: "mplus-1m-regular";
  font-weight: 200;
  font-size: clamp(10px, 1.5vw, 16px);
  color: #3c2a10;
  margin: 1em 1em;
}

.c-sideber {
  list-style: none;
  margin-left: 35px;
  padding-bottom: 30px;
}
.c-sideber__details {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
}

/*-- mixinフォルダの中の_index.scss --*/
/*
@use "inner";
@use "feature-box";
@use "text";
@use "typography";
*/
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

/*-- mixinフォルダの中の_index.scss --*/
body {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template: "header header sidebar" "hero-header hero-header sidebar" "center center sidebar" "footer footer footer"/1fr 1fr 250px;
  /*
      "header header right" 350px
      "hero-header hero-header right " 650px
      "center center right " 
      "footer footer footer" 250px/
      100px 1fr 150px ;
  */
}

header {
  grid-area: header;
}

.hero-header {
  grid-area: hero-header;
}

main {
  grid-area: center;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

/*---headerの配置（レイアウト）---*/
.l-header {
  width: 100%;
  height: 180px;
}

/*忘備録的（タブレットで表示消す
    @include g.mq('tab'){
        .l-header__menu-title{
            visibility: visible;
        }

        .l-header__inner{
            width: 100%;
            flex-direction: column;
        }

        .l-header__left{
            text-align: center;
        }


    }

}
*/
.l-sidebar {
  position: relative;
}

.l-contents__container {
  height: 2000px;
}

/*
.l-contents__map{
  position: relative;
  width: 100%;

  @include g.background("../img/shop_map.png",50%,cover);

  &::after{
    content: '';
    background-color: rgba(0,0,0,.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

}

.l-contents__map-title{
  margin: 5em 2em;

  &::after{
    display: block;
    content: '';
    width: 50px;
    height: 10px;
    border-top: solid 1px g.$color-white;
    margin-top: 2em;
  }

}

.l-contents__map-wrapper {
  display: inline-block;
  width: 70%;
  height: 650px;
  margin: 0;

  border: 3px solid #d81bb8;

  background-color: g.$color-black;
  opacity: 0.3;

}

.l-contents__map-detail{
  display: block;
  margin: 2em;
  @include g.font(g.$font-name-M, 10,12,  17, 400, g.$color-white);
  line-height: 1.5;
}
*/
.l-footer {
  height: auto;
}

.l-map {
  height: 650px;
}

/*-- layoutフォルダの中の_index.scss --*/
/*
@use "main";
@use "footer";
*/
/* headerの装飾関係*/
.p-header {
  width: 100%;
  height: 150px;
  background-color: #FFF7EF;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}
.p-header__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: clamp(40px, 5vw, 64px);
  color: #707070;
}
.p-header__left {
  padding: 1em;
}
.p-header__right {
  padding: 2em;
}

.p-hero {
  background: url("../img/mainvisual-pc.jpg") no-repeat center center;
  background-size: cover;
  height: 30em;
}
.p-hero__title {
  margin-top: 15em;
  margin-left: 5em;
}

input[type=search] {
  display: block;
  width: 300px;
  height: 50px;
  max-width: 100%;
  border: 3px solid #f2ede9;
  border-radius: 10px;
}

.p-form {
  display: flex;
  flex-direction: row;
}

/*
input::after{

    display: inline-block; /* なくても大丈夫だけど、念の為 
    position: relative;    /* 基準値とする 

    content: "";           /* 疑似要素に必須/
    width: 30px;           /* アイコンの横幅/
    height: 30px;          /* アイコンの高さ/
    background: url(../img/magnifying-glass-solid.svg) no-repeat center center / auto 100%; 
    display: inline-block; /* 高さを持たせるためにインラインブロック要素にする 
    position: absolute;    /* 相対位置に指定 
    top: 10px;              /* アイコンの位置。微調整してね 
    left: 5px;             /* アイコンの位置。微調整してね
}
*/
.p-main__wrapper {
  height: 100%;
  width: 100%;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 40px;
}

.p-contents {
  border: 3px solid #d8d8d8;
  display: grid;
  grid-row-gap: 40px;
}
.p-contents__title {
  margin: 1.5em 1.8em;
}
.p-contents__left {
  background: url("../img/takeout.jpg") no-repeat center center;
  background-size: cover;
}
.p-contents__right {
  background: url("../img/eatin.jpg") no-repeat center center;
  background-size: cover;
}
.p-contents__details {
  display: flex;
  flex-direction: column;
  margin: auto 1em 0.5em 1em;
}

.p-map {
  position: relative;
  height: 100%;
  background: url("../img/shop_map.png") no-repeat 50% 50%;
  background-size: cover;
}
.p-map::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.p-location {
  display: block;
  width: 70%;
  height: 100%;
  border: 3px solid #d8d8d8;
  background-color: rgba(0, 0, 0, 0.29);
}
.p-location__title {
  padding: 5em 5em;
}
.p-location__details {
  padding: 3em 5em;
}
.p-location p {
  font-family: "mplus-1m-regular";
  font-weight: 200;
  font-size: clamp(10px, 1.5vw, 16px);
  color: #fff;
}

.p-footer {
  background-color: #9d8670;
}
.p-footer__wrapper {
  display: grid;
  gap: 50px;
  justify-items: center;
  margin: 2em 5em;
}
.p-footer__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.p-footer__information li {
  font-family: "mplus-1m-bold";
  font-weight: 400;
  font-size: 12;
  color: #fff;
}
.p-footer__information a {
  font-family: "mplus-1m-bold";
  font-weight: 400;
  font-size: 12;
  color: #fff;
}
.p-footer__copylight {
  font-family: "mplus-1m-bold";
  font-weight: 400;
  font-size: 12;
  color: #fff;
}

.p-nav {
  display: none;
  background-color: #FFF7EF;
  text-align: right;
}

.p-sidebar {
  background-color: #f2ede9;
}
.p-sidebar__title {
  margin-top: 70px;
  margin-left: 40px;
  padding-bottom: 80px;
}

/*-- projectフォルダの中の_index.scss --*//*# sourceMappingURL=style.css.map */