/* Error: Missing argument $color.
 *    ,--> sass\layout\_contents.scss
 * 69 |   @include g.font(g.$font-name-M, 24, 700, g.$color-black);
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> sass\global\mixin\_mixin.scss
 * 10 | @mixin font($font-family, $Min-font-size, $Max-font-size, $font-weight, $color) {
 *    |        ======================================================================== declaration
 *    '
 *   sass\layout\_contents.scss 69:3  font()
 *   sass\layout\_contents.scss 69:3  @use
 *   sass\layout\_index.scss 6:1      @use
 *   sass\style.scss 3:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $color.\a    \250c \2500 \2500 > sass\\layout\\_contents.scss\a 69 \2502    @include g.font(g.$font-name-M, 24, 700, g.$color-black);\d\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > sass\\global\\mixin\\_mixin.scss\a 10 \2502  @mixin font($font-family, $Min-font-size, $Max-font-size, $font-weight, $color) {\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   sass\\layout\\_contents.scss 69:3  font()\a   sass\\layout\\_contents.scss 69:3  @use\a   sass\\layout\\_index.scss 6:1      @use\a   sass\\style.scss 3:1              root stylesheet";
}
