
.c-sideber{
//    border: 3px solid #d8d8d8;

    list-style: none;

    margin-left: 35px;
    padding-bottom: 30px;

    &__details{
 //       border: 3px solid red;

        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: 20px;

    }
}
