/*フォントの定義*/

.header-title {
    font-family: $font-name-roboto;
    font-size: 32px;
    font-weight: 700;
    color: $color-gray;
}

h1 {
    font-family: $font-name-M;
    font-size: 24px;
    font-weight: 700;
    color: $color-white;
}

.contents-deco {
    font-family:  $font-name-roboto;
    font-size: 24px;
    font-weight: 700;
    color: $color-white;


    &::after {
        display: block;
        content: '';
        width: 50px;
        height: 0px;
        border-top: solid 1px $color-white;
        margin-top: 0.6em;
    }
}

.map_deco {
    font-family:  $font-name-roboto;
    font-size: 24px;
    font-weight: 700;
    color: $color-white;

    margin: 0;
    padding: .2em;
    position: relative;
    z-index: 1;
  

}

.sidebar__title{
    font-family: $font-name-roboto;
    font-size: 18px;
    font-weight: 300;
    color: $color-gray;
}

ul{
    font-family: $font-name-roboto;
    font-size: 18px;
    font-weight: 300;
    color: $color-gray;

}