//フッターのレイアウト（配置）に関するコード。
@use "../global" as g;

.p-footer{
    background-color: g.$color-brown-light;

    &__wrapper{
        display: grid;
        gap: 50px;
        justify-items: center;

        margin: 2em 5em;
    }

    &__information{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;


        li{
            @include g.font(g.$font-name-M, 12, 12, 20, 400, g.$color-white);
        }

        a{
            @include g.font(g.$font-name-M, 12, 12, 20, 400, g.$color-white);
        }
    }

    &__copylight{
        @include g.font(g.$font-name-M, 10, 12,14, 400, g.$color-white);
    }
}



