.p-hero {
    height: 350px;
    background-image: url(../img/top_image.png);
    background-position: center;
    background-size: cover;

    h1{
        margin-left: 80px;
        padding-top: 120px;
    }

}

