$color-gray: #707070;
$color-gray-light:#f2ede9;

$color-white: #fff;
$color-white-light: #EAEAEA;
$color-white-dark:#f5f5f5;

$color-black: #3c2a10;
$color-black-dark: #3c2b1c;

$color-brown-light:#9d8670;

$color-pink-light: #FFF7EF;
